In [2]:
import pandas as pd
import numpy as np

df=pd.read_excel('notExercise.xlsx')
df

,기간,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
0,2017.0,서울시,NaN,49.7,8.1,5.8,34.7,1.7
1,NaN,성별,남자,55.2,7.9,5.5,29.8,1.6
2,NaN,NaN,여자,45.0,8.3,6.0,38.8,1.8
3,NaN,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,NaN,NaN,20대,54.8,6.9,5.2,32.9,0.1
5,NaN,NaN,30대,58.1,5.5,4.6,31.6,0.2
6,NaN,NaN,40대,57.7,6.8,5.2,29.4,1
7,NaN,NaN,50대,50.1,9.2,7.2,32.2,1.4
8,NaN,NaN,60대 이상,27.5,12.8,6.9,46.8,6
9,NaN,학력별,중졸 이하,26.1,13.7,6.6,46.2,7.4
10,NaN,NaN,고졸 이하,46.3,8.5,6.9,36.5,1.7
11,NaN,NaN,대졸 이하,57.4,6.6,4.9,30.7,0.4
12,NaN,NaN,대학원 이상,65.3,3.8,0.6,29.6,0.6
13,NaN,소득별,100만원 미만,22.7,10.3,3.6,50.7,12.7
14,NaN,NaN,100-200만원 미만,34.3,11.5,7.1,41.5,5.6
15,NaN,NaN,200-300만원 미만,48.8,12.3,6.8,30.7,1.4
16,NaN,NaN,300-400만원 미만,54.9,7.1,6.5,31.2,0.3
17,NaN,NaN,400-500만원 미만,56.1,5,5.3,33.0,0.6
18,NaN,NaN,500만원 이상,52.3,7.1,5.1,34.9,0.6
19,NaN,혼인상태별,기혼,50.7,7.8,5.4,34.9,1.2
20,NaN,NaN,미혼,54.3,7.1,5.4,32.2,1
21,NaN,NaN,이혼/별거,47.4,8.3,6.8,34.9,2.7
22,NaN,NaN,사별,25.2,14.9,8.9,42.9,8
23,NaN,지역대분류,도심권,50.5,6.9,4.5,36.4,1.7
24,NaN,NaN,동북권,47.4,7.9,5.9,36.1,2.7
25,NaN,NaN,서북권,49.4,13.9,7.4,28.5,0.8
26,NaN,NaN,서남권,50.7,6.7,5.7,35.0,1.9
27,NaN,NaN,동남권,52.2,6.9,4.9,35.4,0.6
28,NaN,종로구,NaN,41.4,18.2,7.8,32.4,0.2
29,NaN,중구,NaN,51.0,1.2,1.9,40.5,5.5
30,NaN,용산구,NaN,55.9,3.8,4.3,36.0,-
31,NaN,성동구,NaN,50.5,5,6.8,37.8,-
32,NaN,광진구,NaN,49.1,8.5,5.6,32.5,4.4
33,NaN,동대문구,NaN,47.2,1.7,3.4,43.6,4.2
34,NaN,중랑구,NaN,47.9,3.9,5.7,42.0,0.4
35,NaN,성북구,NaN,43.4,16.1,6.1,33.4,1
36,NaN,강북구,NaN,48.4,7.2,6.7,37.7,-
37,NaN,도봉구,NaN,52.0,8.6,5.1,32.0,2.3
38,NaN,노원구,NaN,44.6,7.8,7.2,32.5,7.9
39,NaN,은평구,NaN,44.8,17.7,7.1,29.7,0.8
40,NaN,서대문구,NaN,58.6,5.8,7.9,27.3,0.5
41,NaN,마포구,NaN,47.7,15.6,7.5,28.0,1.2
42,NaN,양천구,NaN,55.2,11.5,10.6,22.3,0.3
43,NaN,강서구,NaN,59.0,8.3,4.0,27.1,1.6
44,NaN,구로구,NaN,42.9,6.1,7.3,43.3,0.4
45,NaN,금천구,NaN,42.4,7.8,3.2,46.1,0.5
46,NaN,영등포구,NaN,53.8,3.4,4.0,34.8,4
47,NaN,동작구,NaN,46.0,-,1.1,47.0,5.9
48,NaN,관악구,NaN,50.7,7.1,6.9,33.6,1.7
49,NaN,서초구,NaN,59.8,3.4,3.2,32.0,1.5
50,NaN,강남구,NaN,59.1,5.5,2.6,31.5,1.3
51,NaN,송파구,NaN,42.6,7.2,5.8,44.3,0.1
52,NaN,강동구,NaN,53.1,9.6,6.8,30.4,0.1

In [3]:
df.head()

,기간,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
0,2017.0,서울시,NaN,49.7,8.1,5.8,34.7,1.7
1,NaN,성별,남자,55.2,7.9,5.5,29.8,1.6
2,NaN,NaN,여자,45.0,8.3,6.0,38.8,1.8
3,NaN,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,NaN,NaN,20대,54.8,6.9,5.2,32.9,0.1

In [4]:
man_col=list(df[1:2].columns)
man_val=df[1:2].values

In [5]:
man_col

['기간',
 '대분류',
 '분류',
 '운동을 할 충분한 시간이 없어서',
 '함께 운동을 할 사람이 없어서',
 '운동을 할 만한 장소가 없어서',
 '운동을 싫어해서',
 '기타']

In [11]:
man_val

array([[nan, '성별', '남자', 55.2, 7.9, 5.5, 29.8, 1.6]], dtype=object)

In [12]:
woman_col=list(df[2:3].columns)

In [13]:
woman_val=list(df[2:3].values)

In [14]:
woman_col

['기간',
 '대분류',
 '분류',
 '운동을 할 충분한 시간이 없어서',
 '함께 운동을 할 사람이 없어서',
 '운동을 할 만한 장소가 없어서',
 '운동을 싫어해서',
 '기타']

In [15]:
woman_val

[array([nan, nan, '여자', 45.0, 8.3, 6.0, 38.8, 1.8], dtype=object)]

In [18]:
w_m=list(man_val[0][2],woman_val[0][2])

TypeError: list expected at most 1 argument, got 2

In [17]:
woman_val[0][2]

'여자'

In [ ]:
df_man_woman=pd.Series(result,