In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [4]:
s=pd.Series((1.0,2.0,3.0))
s

0    1.0
1    2.0
2    3.0
dtype: float64

In [5]:
s2=pd.Series(['a','a','c'])
s2

0    a
1    a
2    c
dtype: object

In [7]:
s_1=pd.Series(['a',1,3.0])
s_1

0      a
1      1
2    3.0
dtype: object

In [8]:
s=pd.Series(range(10,14))
s

0    10
1    11
2    12
3    13
dtype: int64

In [9]:
range(10,14)

range(10, 14)

In [10]:
np.arange(200)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199])

In [12]:
s3=pd.Series(np.arange(200))
s3

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int64

In [13]:
s=pd.Series([1,2,3,np.nan,6,8])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [14]:
s=pd.Series([10,20,30],index=[1,2,3])
s

1    10
2    20
3    30
dtype: int64

In [16]:
s=pd.Series([95,100,88],index=['홍길동','이몽룡','성춘향'])
s

홍길동     95
이몽룡    100
성춘향     88
dtype: int64

In [17]:
s0=pd.Series([10,20,30],index=[1,2,3])
s0

1    10
2    20
3    30
dtype: int64

In [18]:
s0.index

Index([1, 2, 3], dtype='int64')

In [19]:
s00=pd.Series([1,2,3])
s00.index

RangeIndex(start=0, stop=3, step=1)

In [20]:
s=pd.Series([9904312,3448737,289045,2466052],
            index=["서울","부산","인천","대구"])
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [22]:
s.index.name='광역시'
s

광역시
서울    9904312
부산    3448737
인천     289045
대구    2466052
dtype: int64

In [23]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object', name='광역시')

In [24]:
s.values

array([9904312, 3448737,  289045, 2466052])

In [25]:
s.name='인구'
s

광역시
서울    9904312
부산    3448737
인천     289045
대구    2466052
Name: 인구, dtype: int64